html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #212121;
}

.horizontalSlider {
    height: 100%;
    overflow-y: hidden;
    position: relative;
}

img {
    /* height: 100%; */
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.score p {
    padding: 30px 50px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: azure;
    position: fixed;
    right: 0;
}

#popUpText {
    position: absolute;
    top: 50%;
    left: 50%;
    color: aliceblue;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/*@media only screen and (max-width: 400) {

   If [device width] is less than or equal to 400px, then do {…}
    .score p {
        padding: 30px 50px 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        width: 50px;
        line-height: 10px;
        position: absolute;
        right: 0;
    }
}