/* Fettschrift */
@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('font/WOFF2/Atkinson-Hyperlegible-Bold-102a.woff2') format('woff2'),
        url('font/WOFF/Atkinson-Hyperlegible-Bold-102.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/* Normale Schrift */
@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('font/WOFF2/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2'),
        url('font/WOFF/Atkinson-Hyperlegible-Regular-102.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Kursive Schrift */
@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('font/WOFF2/Atkinson-Hyperlegible-Italic-102a.woff2') format('woff2'),
        url('font/WOFF/Atkinson-Hyperlegible-Italic-102.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

/* Fettschrift Kursiv */
@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('font/WOFF2/Atkinson-Hyperlegible-BoldItalic-102a.woff2') format('woff2'),
        url('font/WOFF/Atkinson-Hyperlegible-BoldItalic-102.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

/* Grundlegende Schriftgrösse */
body {
    font-size: 16px;
    font-family: 'Atkinson Hyperlegible', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.5;
    /* Zeilenhöhe verbessert die Lesbarkeit */
}

/* Überschriften */
h1 {
    font-size: 2em;
    /* z.B. 32px bei einer Basisgrösse von 16px */
}

h2 {
    font-size: 1.75em;
    /* z.B. 28px bei einer Basisgrösse von 16px */
}

h3 {
    font-size: 1.5em;
    /* z.B. 24px bei einer Basisgrösse von 16px */
}

h4 {
    font-size: 1.25em;
    /* z.B. 20px bei einer Basisgrösse von 16px */
}

h5 {
    font-size: 1.125em;
    /* z.B. 18px bei einer Basisgrösse von 16px */
}

h6 {
    font-size: 1em;
    /* Gleiche Grösse wie der Haupttext, aber oft fett oder anders stilisiert */
}

/* Weitere Textklassen */
.small-text {
    font-size: 0.875em;
    /* z.B. 14px bei einer Basisgrösse von 16px */
}

.large-text {
    font-size: 1.125em;
    /* z.B. 18px bei einer Basisgrösse von 16px */
}

html,
body {
    height: 100%;
    background-color: #212121;
}

.horizontalSlider {
    height: 100%;
    overflow-y: hidden;
    position: relative;
}

img {
    height: 100%;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

#scoreText {
    font-size: 1.5em;
    color: rgb(34, 34, 34);
    background-color: azure;
    padding: 6px 10px;
    border-radius: 0.25em;
    position: fixed;
    right: 20px;
}

.progressBar {
    position: fixed;
    margin: 20px;
    background-color: azure;
    border-radius: 20px;
    height: 30px;
    width: 300px;
}

.progressBarWithScore {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0546e0;
    box-shadow: 0 5px 5px -6px;
    border-radius: 20px;
    color: #fff;
    height: 100%;
    width: 0;
    transition: 0.5s;
}

/*  Pop Up, wenn auf ein klickbares Objekt geklickt wird */
#popUp {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    color: black;
    border-radius: 1rem 1rem 0 0;
    padding: 1.5rem 2rem;
    gap: 1.5rem;
    max-height: 50%;
    overflow: auto;
    max-width: 700px;
    margin: 0 auto;
}

#popUpHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#popUpCloseButton {
    border: none;
    background: none;
    padding: 1.5rem;
    margin: -1rem;
}

/* Close Button: X */
#popUpCloseButton svg {
    width: 2rem;
    height: 2rem;
}

#popUpTitle {
    margin: 0;
    font-size: min(10vw, 3rem);
}

#popUpText {
    margin: 0;
    line-height: 1.5;
    font-family: sans-serif;
}

#buttonFooter {
    display: flex;
}

#backButton {
    position: fixed;
    left: 20px;
    bottom: 30px;
}

#backButton a {
    color: #ffffff;
    text-decoration: none;
    padding: 12px 28px;
    background-color: #2e6deb;
    border-radius: 0.25em;
    font-size: min(10vw, 1.2rem);
}

#affectedButton,
#notAffectedButton {
    border: none;
    padding: 15px 32px;
    margin: 8px;
    font-size: 1.25em;
    border-radius: 10px;
    cursor: pointer;
}

#affectedButton {
    background-color: #008CBA;
    color: white;
}

#startButton a {
    background-color: #008CBA;
    color: white;
    font-size: 2em;
    text-decoration: none;
    border-radius: 10px;
    padding: 15px 32px;
}