/* Fettschrift */
@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('font/WOFF2/Atkinson-Hyperlegible-Bold-102a.woff2') format('woff2'),
        url('font/WOFF/Atkinson-Hyperlegible-Bold-102.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/* Normale Schrift */
@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('font/WOFF2/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2'),
        url('font/WOFF/Atkinson-Hyperlegible-Regular-102.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Kursive Schrift */
@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('font/WOFF2/Atkinson-Hyperlegible-Italic-102a.woff2') format('woff2'),
        url('font/WOFF/Atkinson-Hyperlegible-Italic-102.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

/* Fettschrift Kursiv */
@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('font/WOFF2/Atkinson-Hyperlegible-BoldItalic-102a.woff2') format('woff2'),
        url('font/WOFF/Atkinson-Hyperlegible-BoldItalic-102.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

/* Grundlegende Schriftgrösse */
body {
    font-size: 16px;
    font-family: 'Atkinson Hyperlegible', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.5;
    /* Zeilenhöhe verbessert die Lesbarkeit */
}

/* Überschriften */
h1 {
    font-size: 2em;
    /* z.B. 32px bei einer Basisgrösse von 16px */
}

h2 {
    font-size: 1.75em;
    /* z.B. 28px bei einer Basisgrösse von 16px */
}

h3 {
    font-size: 1.5em;
    /* z.B. 24px bei einer Basisgrösse von 16px */
}

h4 {
    font-size: 1.25em;
    /* z.B. 20px bei einer Basisgrösse von 16px */
}

h5 {
    font-size: 1.125em;
    /* z.B. 18px bei einer Basisgrösse von 16px */
}

h6 {
    font-size: 1em;
    /* Gleiche Grösse wie der Haupttext, aber oft fett oder anders stilisiert */
}

/* Weitere Textklassen */
.small-text {
    font-size: 0.875em;
    /* z.B. 14px bei einer Basisgrösse von 16px */
}

.large-text {
    font-size: 1.125em;
    /* z.B. 18px bei einer Basisgrösse von 16px */
}

:root {
    --spacing: 1.5rem;
}

html,
body {
    height: 100%;
    background-color: #212121;
}

/* -------------------------------------- game.html -------------------------------------- */
.horizontalSlider {
    height: 100%;
    overflow-y: hidden;
    position: relative;
}

#scoreText {
    font-size: 1rem;
    font-family: din-round, sans-serif;
    color: rgb(34, 34, 34);
    background-color: rgb(255, 255, 255);
    padding: 13px 16px;
    border-radius: 16px;
    position: fixed;
    top: var(--spacing);
    right: var(--spacing);
}

/* Pop Up, wenn das Game gestartet wird */
#popUpGameInformation {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 500px;
}

#popUpGameInformation>div {
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
}

#popUpButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#moreInfoButton {
    background-color: #12709b;
}

#startGameButton {
    background-color: #ae511b;
}

#popUpButtons button {
    appearance: button;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: din-round, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
}

#moreInfoButton::after {
    background-color: #1582b5;
}

#startGameButton::after {
    background-color: #F27127;
}

#popUpButtons button::after {
    background-clip: padding-box;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

#popUpButtons button:main,
#popUpButtons button:focus {
    user-select: auto;
}

#popUpButtons button:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

#popUpButtons button:disabled {
    cursor: auto;
}

#popUpButtons button:active {
    border-width: 4px 0 0;
    background: none;
}

/*  Pop Up, wenn auf ein klickbares Objekt geklickt wird */
#popUp {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    color: black;
    border-radius: 1rem 1rem 0 0;
    padding: 1.5rem 2rem;
    overflow: auto;
    max-width: 700px;
    margin: 0 auto;
}

#popUpHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#popUpImg {
    height: auto;
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
    margin: 15px 0px 30px 0px;
}

#popUpCloseButton {
    border: none;
    background: none;
    padding: 1.5rem;
    margin: -1rem;
}

/* Close Button für popUps: X */
#popUpCloseButton svg {
    width: 2rem;
    height: 2rem;
}

#popUpTitle {
    margin: 0;
}

#popUpContent {
    margin: 0;
}

/* Hilfe Button im Game*/
#helpButton {
    position: fixed;
    left: var(--spacing);
    top: var(--spacing);
}

#helpButton button {
    appearance: button;
    background-color: #12709b;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: din-round, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: fit-content;
}

#helpButton button::after {
    background-clip: padding-box;
    background-color: #1582b5;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

#helpButton button:main,
#helpButton button:focus {
    user-select: auto;
}

#helpButton button:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

#helpButton button:disabled {
    cursor: auto;
}

#helpButton button:active {
    border-width: 4px 0 0;
    background: none;
}

#popUpHelp {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 100%;
    max-width: 500px;
    max-height: 80%;
    overflow: auto;
    background-color: #fff;
    border-radius: 10px;
}

#popUpHelpContext {
    padding: 40px;
}

#popUpHelpContext img {
    height: 200px;
}

#wrapperFeedback {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 45px;
}

#mapButton {
    position: fixed;
    left: var(--spacing);
    bottom: var(--spacing);
}

/* #mapButton a {
    line-height: 1;
    display: block;
    color: #fff;
    background-color: #2e6deb;
    text-decoration: none;
    padding: 12px 28px;
    border-radius: 0.25em;
    font-size: min(10vw, 1.2rem);
} */

#mapButton button {
    appearance: button;
    background-color: #12709b;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: fit-content;
}

#mapButton button::after {
    background-clip: padding-box;
    background-color: #1582b5;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

#mapButton button:main,
#mapButton button:focus {
    user-select: auto;
}

#mapButton button:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

#mapButton button:disabled {
    cursor: auto;
}

#mapButton button:active {
    border-width: 4px 0 0;
    background: none;
}

#popUpEnd {
    display: none;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

#popUpEndContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#getNextChallengeButton {
    background-color: #2e6deb;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

#getNextChallengeButton a {
    text-decoration: none;
    color: #fff;
}

#sendFeedbackButton a {
    color: #414141;
}


/* -------------------------------------- index.html -------------------------------------- */
.backgroundWrapper {
    overflow: hidden;
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    z-index: -1;
}

.contentWrapper {
    height: calc(100% - 2 * var(--spacing));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    isolation: isolate;
    padding: var(--spacing);
}

.contentWrapper h1 {
    color: #fff;
    display: flex;
    justify-content: center;
}

#popUpStartExplanation {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.buttonWrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.buttonWrapper button {
    appearance: button;
    background-color: #12709b;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 350px;
    /* max-width: 400px;
    min-width: 400px; */
}

.buttonWrapper button::after {
    background-clip: padding-box;
    background-color: #1582b5;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.buttonWrapper button:main,
.buttonWrapper button:focus {
    user-select: auto;
}

.buttonWrapper button:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

.buttonWrapper button:disabled {
    cursor: auto;
}

.buttonWrapper button:active {
    border-width: 4px 0 0;
    background: none;
}

#popUpAboutGame {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background-color: #fff;
    color: black;
    border-radius: 1rem;
    padding: 1.5rem 2rem;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 100%;
    margin: 0 auto;
}

#popUpAboutGameContent {
    padding: 20px;
}

#popUpAboutGameContentText {
    padding-bottom: 1rem;
}