@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

/* Grundlegende Schriftgrösse */
body {
    font-family: 'Atkinson Hyperlegible', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* Zeilenhöhe verbessert die Lesbarkeit */
    line-height: 1.5;
}

/* Überschriften */
h1 {
    font-size: 2em;
    /* z.B. 32px bei einer Basisgrösse von 16px */
}

h2 {
    font-size: 1.75em;
    /* z.B. 28px bei einer Basisgrösse von 16px */
}

h3 {
    font-size: 1.5em;
    /* z.B. 24px bei einer Basisgrösse von 16px */
}

h4 {
    font-size: 1.25em;
    /* z.B. 20px bei einer Basisgrösse von 16px */
}

h5 {
    font-size: 1.125em;
    /* z.B. 18px bei einer Basisgrösse von 16px */
}

h6 {
    font-size: 1em;
    /* Gleiche Grösse wie der Haupttext, aber oft fett oder anders stilisiert */
}

a {
    text-decoration: none;
}

/* Styleklassen für die Buttons und Pop-Ups */
/* TODO: Styleklassen im HTLM Code anpassen */
.orange-button-style {
    border-radius: 9px;
    background: linear-gradient(121deg, #EE9539 -102.12%, #F64C18 137.05%);
    box-shadow: 0px 2px 0px 2px #F64C18;
}

.blue-button-style {
    border-radius: 9px;
    background: linear-gradient(121deg, #60EFFF -102.12%, #0061FF 137.05%);
    box-shadow: 0px 2px 0px 2px #0366FF;
}

.gray-button-style {
    border-radius: 9px;
    background: linear-gradient(98deg, #E3E3E3 1.03%, #CAD0FF 228.78%);
    box-shadow: 0px 2px 0px 2px #E3E3E3;
}

.green-button-success-message {
    border-radius: 9px;
    background: linear-gradient(98deg, #00FF87 11.9%, #60EFFF 166.84%);
    box-shadow: 0px 2px 0px 2px #00FF87;
}

.white-content-or-textfield-pop-up-style {
    border-radius: 9px;
    border: 1px solid #B8B8B8;
    background: #F7F7F7;
    box-shadow: 0px 2px 0px 2px #B8B8B8;
}

.textfield-correct-input {
    border: 1px solid #00FF87;
    box-shadow: 0px 2px 0px 2px #00FF87;
}

.whitegray-window-pop-up-ingame-style {
    border-radius: 9px;
    background: linear-gradient(162deg, #FFF 25.28%, #AFAFAF 207.51%);
    box-shadow: 0px 2px 0px 2px #B8B8B8;
}

.button-large-in-popup-layout {
    display: flex;
    width: 345px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button-small-in-popup-layout {
    display: inline-flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button-halfsize-in-popup-game {
    display: flex;
    width: 170px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button-font {
    color: #FFF;
    text-align: center;
    font-size: 1.25em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.gradient-purple {
    border-radius: 9px;
    background: linear-gradient(170deg, rgba(181, 151, 246, 0.70) 0.52%, rgba(150, 198, 234, 0.70) 117.48%), #FFF;
    box-shadow: 0px 2px 0px 2px #B597F6;
}


/* Weitere Textklassen */
.small-text {
    font-size: 0.875em;
    /* z.B. 14px bei einer Basisgrösse von 16px */
}

.large-text {
    font-size: 1.125em;
    /* z.B. 18px bei einer Basisgrösse von 16px */
}

:root {
    --spacing: 1.5rem;
    --popup-width: calc(100% - 2 * var(--spacing));
    --popup-max-width: 450px;
}

html,
body {
    height: 100%;
    background-color: #343434;
}

/* -------------------------------------- game.html -------------------------------------- */
#backgroundImg {
    height: 100%;
}

.horizontalSlider {
    height: 100%;
    overflow-y: hidden;
    position: relative;
}

#scoreText {
    color: rgb(34, 34, 34);
    background-color: rgb(255, 255, 255);
    padding: 15px 16px;
    border-radius: 16px;
    position: fixed;
    top: var(--spacing);
    right: var(--spacing);
}

/* Pop Up, wenn das Game gestartet wird */
#popUpGameInformation {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: var(--popup-width);
    max-width: var(--popup-max-width);
}

#popUpGameInformation>div {
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
}

#moreInfoButton {
    background-color: #12709b;
}

#startGameButton {
    position: relative;
    background-color: #ae511b;
}

#startGameButtonText {
    font-weight: bold;
    margin: 0 -10px;
    background-color: white;
    border-radius: 16px;
    color: black;
    padding: 10px;
    display: grid;
    gap: 10px;
    width: 100%;
}

#infoGebaeude {
    position: absolute;
    top: var(--spacing);
    left: var(--spacing);
    right: var(--spacing);
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    opacity: 0;
    max-width: var(--popup-max-width);
    margin: 0 auto;
    font-weight: bold;
}

#moreInfoButton::after {
    background-color: #1582b5;
}

#startGameButton::after {
    background-color: #F27127;
}

/*  Pop Up, wenn auf ein klickbares Objekt geklickt wird */
#popUp {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    color: black;
    border-radius: 1rem 1rem 0 0;
    padding: 1.5rem 2rem;
    overflow: auto;
    max-width: 700px;
    margin: 0 auto;
}

#popUpHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#popUpImg {
    height: auto;
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
    margin: 15px 0px 30px 0px;
}

#popUpCloseButton {
    border: none;
    background: none;
    padding: 1.5rem;
    margin: -1rem;
}

/* Close Button für popUps: X */
#popUpCloseButton svg {
    width: 2rem;
    height: 2rem;
}

#popUpTitle {
    margin: 0;
}

#popUpContent {
    margin: 0;
}

/* Hilfe Button im Game*/
#helpButton {
    position: fixed;
    left: var(--spacing);
    top: var(--spacing);
}

#popUpHelp {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: var(--popup-width);
    max-width: var(--popup-max-width);
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
    z-index: 1;
}

#mapButton {
    position: fixed;
    left: var(--spacing);
    bottom: var(--spacing);
}

#popUpFalseClick {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: var(--popup-width);
    max-width: var(--popup-max-width);
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
}

#popUpEnd {
    display: none;
    flex-direction: column;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    gap: 10px;
    width: var(--popup-width);
    max-width: var(--popup-max-width);
}

#getNextChallenge {
    background-color: #ae511b;
}

#getNextChallenge::after {
    background-color: #F27127;
}



/* -------------------------------------- index.html -------------------------------------- */
.backgroundWrapper {
    overflow: hidden;
    position: absolute;
    inset: 0;
    z-index: -2;
}

#imageWrapper {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.backgroundWrapper img {
    position: absolute;
    height: 100%;
}

.vignette {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 150px rgba(33, 33, 33, 0.9) inset;
    z-index: -1;
    pointer-events: none;
}

.contentWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    isolation: isolate;
    padding: var(--spacing);
    overflow: hidden;
}

.contentWrapper h1 {
    font-size: min(10vw, 80px);
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
}

#indexButton,
#homeScreenBlueButtonGroup {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
}

.indexAboutGameButton {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 10px;
    max-width: 450px;
    width: 100%;
}

#popUpLevel {
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: var(--popup-width);
    max-width: var(--popup-max-width);
    z-index: 2;
    gap: 10px;
}

#popUpLevel p {
    font-weight: bold;
}

.buttonWrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.buttonWrapper button {
    width: 100%;
}

#popUpAboutGame {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background-color: #fff;
    color: black;
    padding: 1.5rem 2rem;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 auto;
    width: 100%;
    z-index: 2;
}

#popUpAboutGameContent {
    padding: 20px;
}

#popUpAboutGameContentText {
    padding-bottom: 1rem;
}


.duolingo-button {
    appearance: button;
    background-color: #12709b;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    /* white-space: nowrap; */
}

.duolingo-button::after {
    background-clip: padding-box;
    background-color: #1582b5;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.duolingo-button:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

.duolingo-button:disabled {
    cursor: auto;
}

.duolingo-button:active {
    border-width: 4px 0 0;
    background: none;
}