html,
body {
    height: 100%;
    background-color: #212121;
}

.horizontalSlider {
    height: 100%;
    overflow-y: hidden;
    position: relative;
}

img {
    height: 100%;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

#score p {
    padding: 30px 50px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: azure;
    position: fixed;
    right: 0;
}

#popUp {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    color: black;
    border-radius: 1rem 1rem 0 0;
    padding: 1.5rem 2rem;
    gap: 1.5rem;
    max-height: 50%;
    overflow: auto;
    max-width: 700px;
    margin: 0 auto;
}

#popUpHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#popUpCloseButton {
    border: none;
    background: none;
    padding: 1.5rem;
    margin: -1rem;
}

#popUpCloseButton svg {
    width: 2rem;
    height: 2rem;
}

#popUpTitle {
    margin: 0;
    font-size: min(10vw, 3rem);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#popUpText {
    margin: 0;
    line-height: 1.5;
    font-family: sans-serif;
}

#buttonFooter {
    display: flex;
}

#affectedButton,
#notAffectedButton {
    border: none;
    padding: 15px 32px;
    margin: 8px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    cursor: pointer;
}

#affectedButton {
    background-color: #008CBA;
    color: white;
}

/*@media only screen and (max-width: 400) {

   If [device width] is less than or equal to 400px, then do {…}
    .score p {
        padding: 30px 50px 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        width: 50px;
        line-height: 10px;
        position: absolute;
        right: 0;
    }
}